.online-circle {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}

.online-circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115%;
    height: 115%;
    background-color: red;
    border-radius: 100%;
    z-index: 0;
}